@font-face {
    font-family: minecraftia;
    src: url('minecraftia.ttf');
}

@font-face {
    font-family: SilkscreenNormal;
    src: url(slkscr.ttf), url(slkscr.eot);
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    font-family: minecraftia;
    cursor: default;
    color: white;
    font-size: 16px;
    text-shadow: #3f3f3f 2px 2px 0px;
    background: url('../media/background.png');
}

#credits {
    top: 40px;
    position: absolute;
    color: gray;
}

a {
    color: gray;
}

#header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: rgba( 0, 0, 0, 0.4);
}

#Attributions {
    position: absolute;
    left: 42.115%;
    top: -26px;
    text-shadow: none;
}

#a {
    font-family: SilkscreenNormal !important;
    color: white !important;
}

#buttonssmall {
    height: 40px;
    width: 202.5px;
    background: url('../media/btn1.png') no-repeat;
    border: none;
}

#buttonssmall:hover {
    background: url('../media/btn2.png') no-repeat;
}